 <style>
      body{
        border:3px solid white;
        width:401px;
        box-shadow:2px 3px 2px 0px black;
        margin:auto; 
        scroll-behaviour:smooth;
        margin-top:20px;
        margin-bottom:20px;
      }
      #box{
        width:400px;
        height:600px;
        border-radius:8px; 
      }
      
      #sign{
        width:375px;
        height:25px;
        padding:12px;
        border-top-right-radius:8px;
        border-top-left-radius:8px;
        border:1px solid #aaa;
        text-align:center;
        background-color:#5DADEC;
        color:white;
        font-size:20px;
      }
      #cap{
        float:left;
      } 
      #cross{
        float:right;
      }
      #email{
        margin-top:25px;
        margin-left:10px; 
      }
      #inmail,#inpswd,#in,#elog,#glog,#flog{
        border-radius:4px;
        padding:12px;
        outline:none;
      }
      #inmail,#inpswd{
        width:350px;
        margin-bottom:20px;
      }
      #email i,#pswd i{
        float:right;
        margin-top:10px;
        margin-left:-40px;
        position:absolute;
        color:#aaa;
        font-size:20px;
        /*   z-index:1 */
      }
      #pswd{
        margin-left:10px;
      }
      #in,#glog,#elog,#flog{
        width:380px; 
        color:white;
        margin-left:10px;
        border-radius:12px;
      }
      #in{
        background-color:#5DADEC;
        padding:12px;
      }
      #fpswd{
        margin-left:10px;
      }
      #reg{
        margin-left:180px;
      }
      #sp{
        display:flex;
      }
      #elog{
        background-color:#B0BF1A;
        margin-top:40px;
        font-size:18px;
        padding:12px;
      }
      #glog{
        background-color:#D3212D;
        margin-top:10px;
        font-size:25px;
        padding:10px;
        font-family: 'Lato', sans-serif;
      } 
      #flog{
        background-color:#2A52BE;	
        margin-top:15px;
        font-size:20px;
        padding:12px;
      }
      h3{
        font-family: sans-serif;
        text-align: center;
        max-width: 350px;
        position:relative;
        color:#aaa;
        margin-left:20px;
      }
      h3:before{
        content: "";
        display:block;
        width: 120px;
        height:2px;
        background: #aaa;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
      }
      h3:after{
        content: "";
        display:block;
        width: 120px;
        height:2px;
        background: #aaa;
        position: absolute;
        right:0;
        top: 50%;
        z-index: -2;
      }
      span{
        background: #fff
      }
    </style>